body {
		font-family: 'Montserrat', sans-serif;
		background-color: #f9f9f9;
		text-align: center;
		margin: 0px;
		
	}

a{
	color:black;
}

a:hover {
	background-color: #F1F1F2;
}

.navigation a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
}

.button {
	background-color: #B5FFDA;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	padding: 6px;
	border-radius: 4px;
	border-width: 2px;
	border-color: #F1F1F2;
	margin: 10px;
}

.button:active {
	cursor: pointer;
	background-color: #daffec;
}

input[type="text"] {
	width: 300px;
	height: 40px;
	font-family: 'Times New Roman', serif;
	font-style: italic;
	font-size: 15px;
	padding: 3px;
}


h1 {
	margin: 10px 0px 10px 30px;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	text-align: left;
}

h2 {
	text-align: left;
	
}

h3 {
	font-size: 18px;
	margin: 0px;
}

.top_bar {
		background-image: url("/static/images/plane2.png");
		background-position: center;
		height: 120px;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0px;
		clear:top;
}

p {
	margin: 5px;
	font-size: 14px;
	text-align: left;
}

p + p {
	margin-top: 20px;
}


li {
	list-style: none;
	font-size: 14px;
}

.navigation  {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: #F1F1F2;
	overflow: hidden;
	padding: 20px;
	
}

.navigation .logo {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 20px;
	margin: 0px;
	
}

.navigation a {
	text-decoration: none;
}

.navigation ul {
  list-style: none;
  text-align: left;
  text-transform: uppercase;
  	margin: 0px;
	padding: 0px 50px;
}

.navigation li {
	display: inline;
	padding: 15px;
}

.nav_1 {
	float: left;
	text-align: top;
	padding: 0px;
	background-color: #F1F1F2;
}

.nav_2 {
	float: right;
	text-align: top;
	padding: 5px;
	margin-right: 50px;
	letter-spacing: normal;
	background-color: #F1F1F2;
}

.navigation .nav_2 li {
	padding: 0px;
	font-size: 13px;
	text-transform: none;
}



.content {
	padding: 0px 0px 60px 0px;
	background-color: white;
	margin: 20px;
	width: 800px;
	text-align: center;
	display:inline-block;
}

.flash {
	background-color: black;
	color: white;
	margin: 0px;
	list-style: none;
	padding: 20px;
}

.clear {
	clear:both;
	padding: 0px;
	margin: 0px;	
}

footer {
	background-color: #F1F1F2;
	text-align: center;
	padding: 10px 0px;
	font-size: 13px;
   bottom:0;
   width: 100%;
}

footer p {
	text-align: center;
}


.left {
	float:left;
	padding-left: 30px;

}
.carl {
	
	width: 400px;
}

.right {
	width: 300px;
	float:right;
	margin-right: 30px;
	text-align: left;
}

.winner {
	background-color: #B5FFDA;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	padding: 6px;
	border-radius: 4px;
	margin: 5px 0px 0px 10px;
}



.caption {
	font-family: 'Times New Roman', serif;
	font-style: italic;
	font-size: 16px;
	text-align: center;
	max-width: 300px;
	margin: auto;
}

.contest_list {
	margin-bottom: 25px;
}
.contest_list img {
	width: 300px;
}

.contest_list .right {
	width: 400px;
}

.contest_list h2 {
	text-align: left;
	margin-left: 40px;
}

.user_info {
	list-style: none;
	text-align: left;
}


