{% extends "base.html" %}
{% block content %}
<h1> The Origins of <em>Terrible Captionists</em></h1>
<div class="left">
<img class = "carl" src = "{{ path }}aliza-carl.jpg">
<p class="caption">Aliza and Carl. You can devise a better caption.</p>
</div>
<div class="right">
<p> In January 2015, Aliza's friend Carl set out to win the 
<a href="http://contest.newyorker.com/">New Yorker Cartoon Caption Contest</a> by entering every week for a year. To keep motivated&mdash;and amused&mdash;he corralled all his funniest friends to enter each week with him. Carl, Aliza and the rest of the self-named "Terrible Captionists" shared their captions each week in a group email, and together, grew funnier. (Carl ended up a finalist in the real contest.) </p>

<p> In January 2015, Aliza decided she was going to finally learn how to program. She decided a good project would be an app to support the contest, and get it out of the email inbox. (In January 2016, Aliza <a href="http://www.github.com/alizauf/cartoon">finally built it.</a>)
</div>
{% endblock %}