<html>
  <head>
    {% if title %}
    <title>{{ title }} - Terrible Captionists</title>
    {% else %}
    <title>Hello</title>
    {% endif %}
  </head>
  <body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

 {% if current_user.is_authenticated %}
            <p><a href= " {{ url_for('index') }} ">Home</a> | Hi, {{ current_user.nickname }}! | <a href = "{{ url_for('user', nickname=g.user.nickname) }}">Visit your profile</a> | <a href="{{ url_for('vote') }}">Vote!</a> | <a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}"><img src="{{ path }}facebook.png" width=150></a>
            <a href="{{ url_for('oauth_authorize', provider='twitter') }}"><img src="{{ path }}twitter.png" width=150></a></p>
        {% endif %}

    {% block content %}{% endblock %}
  </body>
</html>