<html>
  <head>
    {% if title %}
    <title>{{ title }} - Terrible Captionists</title>
    {% else %}
    <title>Terrible Captionists</title>
    {% endif %}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Lora:400,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/static/css/cartoon.css">

    <link rel="shortcut icon" href="{{ path }}favicon.ico">
  </head>
  <body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<div class = "navigation">
 <div class = "nav_2">
 {% if current_user.is_authenticated %}
 <ul>
<li><a href = "{{ url_for('user', nickname=g.user.nickname) }}"> Hi, {{ g.user.nickname }}</a>  |  </li>
  <li><a href="{{ url_for('logout') }}">Log Out</a></li>
 {% else %}
   <li class = "signup"><a href = "{{ url_for('signup') }}">Sign Up</a> | </li>
  <li class = "login"><a href = "{{ url_for('login') }}">Log In</a></li>
  {% endif %}
  </ul>
  </div>

<div class = "nav_1">
<ul>
    <li class = "logo"><a href= " {{ url_for('index') }} ">Terrible Captionists</a></li> 
 
  <li class = "contests"><a href="{{ url_for('contests') }}">Contests</a></li>
   {% if current_user.is_authenticated %}
  <li class = "vote"><a href="{{ url_for('vote') }}">Vote</a></li>
  {% endif %}
  <li><a href="{{ url_for('about') }}">About</a></li>
  </ul>
  </div>

  
  </div>
  
  
</div>
<div class="clear"></div>
<div class="top_bar"></div>
<div class="content">
    {% block content %}{% endblock %}
    </div>
<footer>
<p> Made by <a href="http://www.github.com/alizauf">Aliza Aufrichtig</a> at the <a href="http://www.recurse.com">Recurse Center</a>. All cartoons &copy;The New Yorker.</p>
</footer>
  </body>
</html>