{% extends "base.html" %}
{% block content %}
<h1>
{% if current_user.id not in user_captions %}
Write a funny caption for this cartoon.
{% else %}
This Week's Contest
{% endif %}
</h1>


<div class="left">
<img src="{{ path }}{{ contest.image_filename}}" width=400px>
 {% if current_user.is_authenticated %}
{% if current_user.id not in user_captions %}
<p>Submit your caption for this week's contest!</p>
<form action="" method="POST" name="caption" action="/">
    {{ form.hidden_tag() }}

    <p>{{ form.caption(maxlength=250) }} <input class = "button" type="submit" value="Submit"></p>
    </form> 
{% else %}
{% for caption in contest.captions %}
{% if caption.user_id == current_user.id %}
<p class="caption">{{ caption.text }}</p>
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
<p>Drawing by {{ contest.nyer_artist }}, Contest #{{ contest.nyer_contest_number }}, {{ contest.start_date.strftime("%B %d, %Y") }}</p>
</p>
 </div>   


 

<div class="right">  
{% if current_user.is_authenticated %}
{% if current_user.id not in user_captions %} 
 {% if contest.captions|length == 0 %}
        <p> Be the first to submit a caption!</p>
        
        
        
        {% elif contest.captions|length == 1 %}
        <p>Only one caption so far! Add yours and make this a competition!</p>

        {% else %}
        <p>Your friends have submitted {{ contest.captions|length }} captions this week. Submit your caption to reveal their entries. 
        {% endif %}

{% else %}

<h2>Other Captions </h2>
    <p>
    {% for caption in contest.captions %}
    {% if caption.user_id != current_user.id %}
    <ul>
    <li><span class="caption">{{ caption.text }}</span> | <a href = "{{ url_for('user', nickname=caption.user.nickname) }}">{{ caption.user.nickname }}</a> </li>

    </ul>
    {% endif %}
    {% endfor %}
     {% endif %} 
</p>
{% else %}

<p> Each week, thousands of people submit their funniest one-liners to <a href="http://contest.newyorker.com/">The New Yorker Cartoon Caption Contest</a>. That's a few thousand too many. <strong> Here at <em>Terrible Captionists</em>, we think it is more fun to caption with friends.</strong></p>
<p> The game is simple. Each Monday there is a new cartoon. You come up with something funny, and then the group votes on the best caption.</p>
<p> (And if you submit it to The New Yorker each week, you'll increase your odds of winning that other contest.)</p>

<a style="text-decoration:none" href="{{ url_for('signup') }}"><p class="winner">Sign Me Up</p></a>
{% endif %}
     
 
 </div>   
{% endblock %} 

