{% extends "base.html" %}
{% block content %}
<h1>The Terrible Captionists Contest</h1>
    <h2>The most recent contest</h2>
    <img src="{{ path }}{{ contest.image_filename}}" width=300>
    <p>Drawing by {{ contest.nyer_artist }}, Contest #{{ contest.nyer_contest_number }}, {{ date }}</p>

    <form action="" method="POST" name="caption" action="/">
    {{ form.hidden_tag() }}

    <p>{{ form.caption(size=30, maxlength=250) }} <input type="submit" value="Add Caption"></p>
    </form>

    <p>
    {% for caption in captions %}
    <ul>
    <li>{{ caption.text }} | {{ caption.captionist.nickname }} | {{ caption.vote|length }} </li>

    </ul>

    {% endfor %}
</p>
    
{% endblock %} 

