{% extends "base.html" %}
{% block content %}
<h1>Update Your Profile</h1>

<div class="left" style="width:400px">
<form style="margin-left: 40px" action="" method="post" name="user">
{{form.hidden_tag()}}

<p> Nickname*<br>

{% if g.user.nickname !=None %}
{{ form.nickname(size=24, value=g.user.nickname) }} 

{% else %}
{{ form.nickname(size=24) }} 
{% endif %}

                {% for error in form.errors.nickname %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </p>

<p>Email*<br>
{% if g.user.email !=None %}
{{ form.email(size=24, value=g.user.email) }} 

{% else %}
{{ form.email(size=24) }} 
{% endif %}

                {% for error in form.errors.nickname %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}  

</p>
<p>First name*<br>
{% if g.user.first_name !=None %}
{{ form.first_name(size=24, value=g.user.first_name) }} 

{% else %}
{{ form.first_name(size=24) }} 
{% endif %}
                <!-- {% for error in form.errors.nickname %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %} -->
</p>

<p>Last name<br>
{% if g.user.last_name !=None %}
{{ form.last_name(size=24, value=g.user.last_name) }} 

{% else %}
{{ form.last_name(size=24, value="") }} 
{% endif %}
               <!--  {% for error in form.errors.nickname %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %} -->
</p>

<p>Bio<br>
{% if g.user.bio !=None %}
{{ form.bio(size=50, value=g.user.bio) }} 

{% else %}
{{ form.bio(size=50, value="") }} 
{% endif %}
               <!--  {% for error in form.errors.nickname %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}   -->
</p>

<p>Something Funny<br>
{% if g.user.something_funny !=None %}
{{ form.something_funny(size=50, value=g.user.something_funny) }} 

{% else %}
{{ form.something_funny(size=50, value="") }} 
{% endif %}
                <!-- {% for error in form.errors.nickname %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}  -->                     
</p>

<input type="submit" value="Update" class="button">
</form>
<p>I may build functionality later to email you about new contests. If I do, I'll also build functionality to let you opt out. </p>
</div>

<div class ="right">
<img src = "{{ path }}dog.jpg">
</div>
{% endblock %}




first_name = StringField('first_name', validators=[DataRequired()])
    last_name = StringField('first_name')
    email = StringField('email', validators=[DataRequired()])
    bio = StringField('bio')
    something_funny = StringField('something_funny')