{% extends "base.html" %}
{% block content %}
<h1>Welcome to <em>Terrible Captionists!</em></h1>
<h3>Each week, compete with your friends to create the funniest cartoon caption.</h3>

<div class="left">
<img style="width:400px" src="{{ path }}signup.jpg">
</div>
<div class="right">
<h2>Sign up, and get funnier.</h2>



<a href="{{ url_for('oauth_authorize', provider='facebook') }}"><img src="{{ path }}facebook-signup.png" width=140></a>
<a href="{{ url_for('oauth_authorize', provider='twitter') }}"><img src="{{ path }}twitter-signup.png" width=140></a>
</div>
{% endblock %}