{% extends "base.html" %}
{% block content %}

{% if user == g.user %}
<h1> Hey {{ user.nickname }}!</h1>
<p>Here's your info. <a href="{{ url_for('profile') }}">You can update this information here.</a></p>
{% else %}
<h1> {{ user.nickname }}</h1>
{% endif %}
<ul>

<li>Name:  {{ user.first_name}} {{ user.last_name}}</li>

<li> Email: {{ user.email}}</li>
<li>Bio: {{ user.bio}}</li>
<li> Something Funny: {{ user.something_funny}}</li>
<li>Captioning since: {{ user.date_joined.strftime("%B %d, %Y")}}</li>
</ul>

<h2>Past captions</h2>
<table>
<!-- TODO: Hide other users submissions to current contest -->
{% for caption in user.caption|sort(reverse=True, attribute='timestamp') %}

<tr>
 <td><img src="{{ path }}{{ caption.contest.image_filename }}" width=100></td> <td><strong>{{ caption.text }}</strong></td><td>{{ caption.timestamp.strftime("%B %d, %Y") }}</td><td> 
 {% if caption.winner(caption.contest_id) != None %}
    {% if caption.id in caption.winner(caption.contest_id) and caption.winner(caption.contest_id)|length > 1 %}
    "Winner - Tie"
    {% elif caption.id in caption.winner(caption.contest_id) and caption.winner(caption.contest_id)|length == 1 %}
    "Winner!!"
    {% endif %}
    {% endif %}
 </td>
</tr>
{% endfor %}

</table>


{% endblock %}

